<nav class="navigation">
    <div class="nav-wrapper container">
        <h6 class="brand-logo center"><a href="/dashboard">Personal Diary</a></h6>
          <a href="/auth/logout">Logout</a>
          
<a href="/diary/add" class="right add-button"><i class="fas fa-plus icon-add"></i></a>
    </div>
</nav>