<h3 class="login-text"><i class="fas fa-book"></i> Personal Diary</h3>
<div class="section">
    <p class="lead">Keep Your Deepest Secrets Here</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn login-btn">
     <i class="fab fa-google"></i> Log In With Google
    </a>
</div>